.bashboard-manu {
    background: green;
    height: 100vh;
    overflow-y: scroll;
}

.user {
    color: #000;
}

.user img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 50%;
}

.logOut_btn {
    background: rgb(199, 10, 10);
    padding: 6px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    color: #ffff;
    margin-top: 10px;
}

.logOut_btn:hover {
    background: rgb(153, 7, 7);
    transition: 00.5s;
}

.all-order li {
    list-style: none;
}

.all-order {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.active {
    background: rgba(221, 217, 217, 0.376);
    border-radius: 10px;
}

.all-order:hover {
    background: rgba(221, 217, 217, 0.376);
    border-radius: 10px;
}